@using System.IO
@using System.Reflection
@{
    var getBlock = (string name) =>
    {
        var path = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "..", "common", "blocks", name);
        var content = File.ReadAllText(path);
        return content;
    };
    var head = getBlock("head.html");
    var top = getBlock("top.html");

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - asp</title>
    @Html.Raw(head)
</head>
<body hx-boost="true">
    <header x-data="{active: 'asp'}">
@Html.Raw(top)
</header>
<main role="main" class="pb-3">
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
